Protocol 2
AddressFamily inet
ListenAddress {{ tumbumer_sshd_address | default(ansible_default_ipv4.address) }}:{{ tumbumer_sshd_port | default(22) }}

LoginGraceTime 5
MaxStartups 3

SyslogFacility AUTH
LogLevel INFO

HostKey /etc/ssh/ssh_host_rsa_key
AuthorizedKeysFile %h/.ssh/authorized_keys

PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
UsePrivilegeSeparation yes
StrictModes yes
IgnoreRhosts yes
HostbasedAuthentication no
IgnoreUserKnownHosts yes
ChallengeResponseAuthentication no
UsePAM yes

Ciphers aes256-gcm@openssh.com,aes256-ctr,chacha20-poly1305@openssh.com
KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256

X11Forwarding no
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
Subsystem sftp /usr/lib/openssh/sftp-server
