AddressFamily inet
{% if tumbumer_sshd_address is defined %}
ListenAddress {{ tumbumer_sshd_address }}
{% endif %}
Port {{ tumbumer_sshd_port }}
Protocol 2

LoginGraceTime 5
MaxStartups 3

HostKey /etc/ssh/ssh_host_ed25519_key
AuthorizedKeysFile %h/.ssh/authorized_keys

AuthenticationMethods publickey
ChallengeResponseAuthentication no
Compression no
PasswordAuthentication no
PermitRootLogin without-password
UsePAM yes

Ciphers aes256-gcm@openssh.com
KexAlgorithms curve25519-sha256@libssh.org
MACs hmac-sha2-512-etm@openssh.com

LogLevel VERBOSE
PrintMotd no
Subsystem sftp /usr/lib/ssh/sftp-server -f AUTHPRIV -l INFO
SyslogFacility AUTH
